<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="set">
    <h1 class="set">Set your timer for...</h1>
</div>
<body>

<div class="content">

    <form action="/timer" method="get">
    <h1 class="for">Work</h1>
    <div class="work">
        <div class="time-input-work">
            <input type="number" class="hours-input-work" min="0" max="23" placeholder="Hours">
            <span>:</span>
            <input type="number" class="minutes-input-work" min="0" max="59" placeholder="Minutes">

            <input type="hidden" name="workHours" value="" id="hours-input-hidden-work">
            <input type="hidden" name="workMinutes" value="" id="minutes-input-hidden-work">
        </div>
    </div>

    <h1 class="for">Rest</h1>
        <div class="rest">
            <div class="time-input-rest">
                <input type="number" class="hours-input-rest" min="0" max="23" placeholder="Hours" name="restHours">
                <span>:</span>
                <input type="number" class="minutes-input-rest" min="0" max="59" placeholder="Minutes" name="restMinutes">

                <input type="hidden" name="restHours" value="" id="hours-input-hidden-rest">
                <input type="hidden" name="restMinutes" value="" id="minutes-input-hidden-rest">
            </div>
        </div>

    <div class="btn">
            <button class="set-timer" type="submit">Set!</button>
    </div>
</form>
    <script src="js/indexScript.js"></script>
</div>

</body>
</html>